.container-fluid {
    padding-top: 20px;
}

.col-md-3 {
    max-width: 300px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh; /* Full height of the viewport */
}

.form-container1 {
    width: 33.33%; /* 1/3 of the container's width */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group1 {
    margin-bottom: 15px;
    font-size: 0.8rem;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.modal-60w {
    max-width: none !important;
    width: 60%;
}
